<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="LocalDataBase" connectionString="Data Source=.\Database.db;Version=3;" providerName="System.Data.SqlClient"/>
      <add name="DataBase" connectionString="Server = DESKTOP-Q1OGD9Q\SQLEXPRESS; Database = DataBase; Trusted_Connection = True; MultipleActiveResultSets = False; Connect Timeout = 10;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>